.personalisieren {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    gap: 5vh;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}